.vacancies-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.filter-column {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.vacancies-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.export-column {
    display: flex;
    align-items: flex-start;
    width: 25%;
}

.filter-title {
    font-size: 2rem;
    color: var(--primary-green-color);
}

.vacancies-title {
    display: flex;
    align-items: center;
    color: var(--primary-green-color);
    font-size: 2rem;
}

.vacancies-title i {
    margin-left: 8px;
    color: var(--error-color);
}

.vacancies-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vacancy-tile {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    height: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    justify-content: space-between;
}

.vacancy-salary {
    background-color: var(--secondary-green-color);
    color: var(--black-color);
    padding: 10px 20px;
    border-radius: 29px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.vacancy-image {
    width: 100px;
    height: 100px;
    border-radius: 1%;
    margin-right: 30px;
    flex-shrink: 0;
}

.vacancy-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    flex-grow: 1;
    margin-top: -40px;
}

.vacancy-tile h3 {
    margin: 0;
    font-size: 1.4rem;
    color: var(--black-color);
}

.vacancy-tile p {
    margin: 0;
    font-size: 1.3rem;
    color: var(--black-color);
}

.export-excel {
    display: flex;
    align-items: center;
    color: var(--primary-green-color);
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 90px;
    margin-left: 20px;
}

.export-excel i {
    margin-left: 8px;
    color: var(--primary-green-color);
}